body {
    margin: 0;
    padding: 0;
}

.bill {
    /*border:1px solid black;*/
    width: 288px;
    /*height: 456px;*/
    border-radius: 4px;
    /*box-shadow: 20px 20px 20px rgba(0,0,0,0.5);*/
    background-color: #EE8129;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 100px auto;
    padding: 25px 4px 4px 4px;
}

.bill h2 {
    /*font-size: 23px;*/
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 0;
}

.bill_window {
    /*width: 100%;*/
    /*border: 1px solid black;*/
    background-color: white;
    margin: 22px 0 0 0;
    padding: 25px 10px 0 10px;
    height: 300px;
}

.bill_name {
    text-transform: uppercase;
    font-size: 23px;
    text-align: center;
    margin: 0;
    padding: 0;
}

/*.bill_price {
    font-weight: bold;
    font-size: 75px;
    text-align: center;
    margin: 0;
    padding: 0;
}*/


ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style-position: inside;
    list-style-image: url(images/arrow.png);
    /*margin: 0 12px 4px 12px;*/
    text-transform: uppercase;
    /*line-height: 35px;*/
    /*padding-left: 25px;*/
}

ul li:nth-child(odd) {
    background-color: #EDF5FD;
}

ul li:nth-child(even) {
    background-color: gray;
}

/*span {
    border: 2px solid black;
    background-color: #EE8129;
    color: white;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin: 0 12px 0 12px;
}

a {
    text-decoration: none;
    padding: 12px auto;
}*/
