.customers_one {
    margin-top: 90px;
}

.customers_img {
    width: 60%;
    float: left;
    margin: 0 40px 0 0;
}

.customers_one:after {
    content: '';
    display: block;
    clear: both;
}

.customers h1 {
    color: #D4422F;
    margin: 0;
}

.customers h5 {
    color: #B0B0B0;
    margin: 5px auto;
}

.customers p {
    margin: 0;
}

.customers_discription {
    text-align: right;
    padding: 230px 130px 0 0;
}

/*
.customers_two .customers_img {
    width: 60%;
    !*height: 550px;*!
    object-fit: cover;
    float: right;
    margin: 30px 0 25px 0;
}

.customers_discription_two {
    float: left;
    margin-top: 100px;
}

.customers_two:after {
    content: '';
    display: block;
    clear: both;
}*/
