#navy {
    height: 50px;
    width: 800px;
    padding: 0;
    margin: 100px auto;
}

#navy ul {
    list-style-type: none;
    height: 50px;
    background-color: #f8f8f8;
    padding: 0;
    margin: 0 36px;
}

#navy ul li {
    float: left;
}

#navy ul li a {
    font-family: Arial, sans-serif;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    margin: 0 4px;
    line-height: 50px;
    border: 1px solid blueviolet;
    border-radius: 10px;
    color: blueviolet;
}

#navy ul li:first-child a,
#navy ul li:nth-child(2) a {
    padding: 10px 2px;
    margin: 0 12px;
    border: none;
}

#navy ul li:first-child a:before,
#navy ul li:nth-child(2) a:before {
    content: "\AB";
    padding-right: 3px;
}

#navy ul li:last-child a,
#navy ul li:nth-child(11) a {
    padding: 10px 2px;
    margin: 0 12px;
    border: none;
}

#navy ul li:last-child a:after,
#navy ul li:nth-child(11) a:after {
    content: "\BB";
    padding-left: 3px;
}

#navy ul li a:hover {
    background-color: blueviolet;
    color: white;
}

#navy ul li:nth-child(5) a {
    border: none;
}

#navy ul li:first-child a:hover,
#navy ul li:nth-child(2) a:hover {
    background: none;
    color: #b50fc9;
}

#navy ul li:last-child a:hover,
#navy ul li:nth-child(11) a:hover {
    background: none;
    color: #b50fc9;
}