div{
    display: flex;
    flex-direction: row;
}

.red{
    margin-left: 10px;
    padding: 5px 10px;
    display: inline-block;
    background: red;
    border-radius: 8px;
    color: white;
    font-weight: bold;

}

.green{
    margin-left: 10px;
    padding: 5px 10px;
    display: inline-block;
    background: green;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}

.blue{
    margin-left: 10px;
    padding: 5px 10px ;
    display: inline-block;
    background: blue;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}

