body {
    margin: 0;
    padding: 0;
}

.comments {
    font-family: Roboto, Arial, sans-serif;
    margin: 150px 0 0 0;
    padding: 48px 0 0 0;
    height: 266px;
    background-color: #000;
    color: white;
}

.comments h1 {
    margin: 0;
    padding: 0;
    color: #EE8129;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
}

.text {
    color: #3170A8;
    margin: 0;
    padding: 0;
}

.comments_window {
    background-color: #b50fc9;
    /*width: 1078px;
    height: 97px;*/
    margin: 38px 0 0 112px;
    padding: 0;
}

.comments_item {
    margin: 0 0 0 30px;
    background-color: white;
    width: 332px;
    padding: 12px 15px 12px 15px;
    color: black;
    position: relative;
    display: inline-block;
    float: left;
}

.comments_item:after {
    content: '';
    position: absolute;
    right: 362px; top: 35px;
    border: 14px solid transparent;
    border-right: 17px solid white;
}

.comments_img {
    width: 97px;
    height: 97px;
    margin: 0 0 0 50px;
    float: left;
}

.name_item {
    border-bottom: 2px dotted black;
    color: #809BC1;
    font-style: italic;
    font-size: 13px;
    font-weight: bold;
    text-transform: capitalize;
    padding: 2px 0 8px 0;
    margin: 0;
}

.name_item:before {
    content: "\002D";
}

.name_item:after {
    content: "Customer";
    margin-left: 178px;
}

.item_content {
    color: #9F95A7;
    font-size: 13px;
    margin: 0;
    padding: 7px 0 0 0;
    line-height: 1.5;
}